[submodule "gtest"]
	path = gtest
    # relative URL, usually goes to https://github.com/PlatformLab/gtest.git
	url = https://github.com/PlatformLab/gtest.git
[submodule "logcabin"]
	path = logcabin
	url = https://github.com/logcabin/logcabin.git
[submodule "linuxptp"]
	path = linuxptp
	url = http://git.code.sf.net/p/linuxptp/code
