[submodule "gtest"]
	path = gtest
    # relative URL, usually goes to https://github.com/PlatformLab/gtest.git
	url = https://github.com/PlatformLab/gtest.git
[submodule "logcabin"]
	path = logcabin
	url = https://github.com/logcabin/logcabin.git
[submodule "prometheus-cpp"]
	path = prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git
